/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 50px;
  float: left;
  display: inline-block;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFFFF;
}
.header.shadow {
  background: #FAFAF9;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.header a.logo {
  float: left;
  display: inline-block;
  padding: 10px 1%;
  height: 30px;
  color: #111111;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 1px;
}
.header a.logo img {
  float: left;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-top: 0px;
}
.header a.logo .detail {
  float: left;
  display: inline-block;
}
.header a.logo .detail .name {
  font-size: 1em;
  font-family: "maledpan", sans-serif;
}
.header a.logo .detail .desc {
  font-size: 0.5em;
  color: #1abc9c;
  color: #666666;
}
.header .btn {
  float: right;
  display: inline-block;
  padding: 16px 1%;
  height: 18px;
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  letter-spacing: 1px;
  font-family: "maledpan", sans-serif;
}
.header .btn:hover {
  text-decoration: underline;
}
.header .btn i {
  float: left;
  display: inline-block;
  font-size: 1.3em;
  margin-right: 7px;
  margin-top: -2px;
  color: #111111;
}
.header .btn:hover {
  cursor: pointer;
}
.header .btn.btn-back {
  float: left;
}
.header .btn.btn-cancel {
  color: #F44336;
}
.header .btn.btn-cancel i {
  color: #F44336;
}
.header .btn.btn-login i {
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}
.header .title {
  float: left;
  display: inline-block;
  padding: 16px 1%;
  height: 18px;
  color: #BBBBBB;
  font-family: "maledpan", sans-serif;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 1px;
}
.header .title:hover {
  cursor: default;
}
.header .btn-profile {
  float: right;
  display: inline-block;
  padding: 16px 1%;
  height: 18px;
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  letter-spacing: 1px;
  font-family: "maledpan", sans-serif;
}
.header .btn-profile:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header .btn-profile img {
  float: left;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  margin-top: -5px;
  border-radius: 50%;
}
.header .btn-profile .more-menu {
  position: absolute;
  width: 200px;
  top: 90%;
  right: 15%;
  padding: 5% 0%;
  background: #FFFFFF;
  border-radius: 5px;
  display: none;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.header .btn-profile .more-menu.open {
  display: block;
}
.header .btn-profile .more-menu .arrow-up {
  position: absolute;
  bottom: 100%;
  right: 10%;
  border: 8px solid transparent;
  border-bottom-color: #FFFFFF;
}
.header .btn-profile .more-menu a {
  width: 80%;
  padding: 7% 10%;
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #111111;
  border-bottom: 1px solid #FAFAFA;
}
.header .btn-profile .more-menu a i {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 15px;
  margin-top: -2px;
}
.header .btn-profile .more-menu a.btn-logout {
  color: #c0392b;
}
.header .btn-profile .more-menu a:last-child {
  border-bottom: 0px;
}
.header .btn-profile .more-menu a:hover {
  background: #eeeeee;
}
.search-form {
  width: 40%;
  margin: 0% 30%;
  float: left;
  display: inline-block;
  position: relative;
}
.search-form .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4em;
  padding: 2% 4%;
  color: #666666;
}
.search-form .inputtext {
  width: 80%;
  padding: 2% 10%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5em;
  border-radius: 5px;
  background: #e8e8e9;
  color: #333333;
  border: 0;
}
.search-form .inputtext:hover {
  cursor: pointer;
}
.search-form .inputtext:focus {
  color: #111111;
}
.search-form .tip {
  width: 95%;
  margin-right: 5%;
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 0.75em;
  color: #666666;
  letter-spacing: 1px;
  margin-top: 1%;
  visibility: hidden;
}
.search-form .tip.show {
  visibility: visible;
}
.headtopic {
  width: 40%;
  padding: 1% 30%;
  margin-top: 50px;
  margin-bottom: 0.5%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  color: #333333;
  background: #eeeeee;
  font-size: 2em;
  letter-spacing: 1px;
}
.menu {
  width: 40%;
  padding: 2% 30%;
  margin-top: 50px;
  margin-bottom: 1%;
  float: left;
  display: inline-block;
  background: #eeeeee;
}
.menu .items {
  width: 31.33%;
  padding: 6% 0%;
  margin-right: 3%;
  float: left;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.menu .items i {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}
.menu .items span {
  display: block;
  font-size: 1.2em;
  letter-spacing: 1px;
}
.menu .items:hover span {
  text-decoration: underline;
}
.menu .items:nth-child(3n+0) {
  margin-right: 0%;
}
.menu .items:hover {
  cursor: pointer;
}
.menu .items.btn-search {
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2980b9, #3498db);
  background: linear-gradient(to right, #2980b9, #3498db);
}
.menu .items.btn-upload {
  background: #2ecc71;
  background: -webkit-linear-gradient(to right, #2ecc71, #27ae60);
  background: linear-gradient(to right, #2ecc71, #27ae60);
}
.menu .items.btn-category {
  background: #f39c12;
  background: -webkit-linear-gradient(to right, #f39c12, #f1c40f);
  background: linear-gradient(to right, #f39c12, #f1c40f);
}
.container {
  width: 40%;
  margin: 0% 30%;
  float: left;
  display: inline-block;
}
.container .section {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 10%;
}
.container .section .topic {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  color: #666666;
  font-family: "maledpan", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: right;
}
.container .section .list {
  width: 100%;
  float: left;
  display: inline-block;
  overflow: hidden;
  background: #FFFFFF;
  box-sizing: border-box;
}
.container .section .list .empty {
  width: 100%;
  margin-top: 40%;
  float: left;
  display: inline-block;
  text-align: center;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: #666666;
}
.container .section .list .file-items {
  width: 100%;
  padding: 2% 0%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #e8e8e9;
}
.container .section .list .file-items:last-child {
  border-bottom: 0px;
}
.container .section .list .file-items a.icontype {
  width: 7%;
  float: left;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.7em;
  color: #666666;
}
.container .section .list .file-items .detail {
  width: 86%;
  float: left;
  display: inline-block;
}
.container .section .list .file-items .detail .name {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #111111;
  margin-bottom: 1%;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.container .section .list .file-items .detail .name a {
  color: #111111;
  text-decoration: none;
}
.container .section .list .file-items .detail .name a:hover {
  text-decoration: underline;
}
.container .section .list .file-items .detail p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.3em;
  color: #666666;
}
.container .section .list .file-items .detail p a,
.container .section .list .file-items .detail p span {
  float: left;
  display: inline-block;
  color: #666666;
  text-decoration: none;
  margin-right: 10px;
}
.container .section .list .file-items .detail p a i,
.container .section .list .file-items .detail p span i {
  margin-right: 3px;
  font-size: 0.9em;
}
.container .section .list .file-items .detail p a:hover {
  text-decoration: underline;
}
.container .section .list .file-items .detail p i.fa-lock {
  color: #FF5722;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.container .section .list .file-items a.icon {
  width: 7%;
  float: right;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.7em;
  color: #CCCCCC;
  text-align: right;
}
.container .section .list a.choose-items {
  width: 94%;
  padding: 1% 3%;
  float: left;
  display: inline-block;
  background: #eeeeee;
  margin-bottom: 1%;
  border-radius: 5px;
}
.container .section .list a.choose-items:first-child {
  margin-top: 20%;
}
.container .section .list a.choose-items:hover span {
  text-decoration: underline;
}
.container .section .list a.choose-items i.fa-circle {
  width: 7%;
  float: left;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.7em;
  color: #666666;
}
.container .section .list a.choose-items span {
  width: 86%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 2em;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
  color: #111111;
}
.container .section .list a.choose-items i.fa-angle-right {
  width: 7%;
  float: right;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.7em;
  color: #DDDDDD;
  text-align: right;
}
.container .section .starter {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20%;
}
.container .section .starter p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  color: #666666;
  font-family: "maledpan", sans-serif;
}
.container .section .starter a {
  display: inline-block;
  font-size: 1.2em;
  background: #004d40;
  color: #1abc9c;
  text-decoration: none;
  padding: 2% 4%;
  border-radius: 5px;
  margin-top: 10%;
}
.container .section .starter a i {
  margin-right: 15px;
}
.container .article {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 25%;
  background: #FFFFFF;
}
.container .article .info {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 4%;
  font-size: 0.9em;
  color: #666666;
}
.container .article .info span,
.container .article .info a {
  float: left;
  display: inline-block;
  color: #666666;
  text-decoration: none;
  padding: 5px 0px;
  border-radius: 5px;
}
.container .article .info span i,
.container .article .info a i {
  margin-right: 7px;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-top: 1px;
}
.container .article .info a {
  padding: 5px 10px;
  float: right;
  font-weight: normal;
  background: #e8e8e9;
  color: #666666;
}
.container .article .info a:hover {
  color: #111111;
  text-decoration: underline;
}
.container .article .info a i {
  margin-left: 7px;
  margin-right: 0px;
  float: right;
}
.container .article h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 1%;
  color: #111111;
  font-weight: normal;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.container .article p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: #666666;
  margin-bottom: 5%;
}
.container .article p a,
.container .article p span {
  color: #666666;
  text-decoration: none;
  margin-right: 10px;
}
.container .article p a i,
.container .article p span i {
  margin-right: 5px;
}
.container .article p a i.fa-lock,
.container .article p span i.fa-lock {
  color: #FF5722;
}
.container .article p a:hover,
.container .article p span:hover {
  cursor: default;
}
.container .article p a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container .article .text {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 5%;
  color: #666666;
}
.container .article .download {
  width: 100%;
  float: left;
  display: inline-block;
  border-top: 2px dotted #e8e8e9;
  padding-top: 5%;
}
.container .article .download .filename {
  width: 50%;
  float: left;
  display: inline-block;
  padding: 3.5% 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
  color: #BBBBBB;
}
.container .article .download .filename:hover {
  cursor: default;
}
.container .article .download a.btn-download {
  width: 30%;
  padding: 2% 5%;
  padding-top: 2.5%;
  float: right;
  display: inline-block;
  background: #2ecc71;
  background: -webkit-linear-gradient(to right, #2ecc71, #27ae60);
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.container .article .download a.btn-download .d {
  width: 75%;
  float: left;
  display: inline-block;
}
.container .article .download a.btn-download .d .caption {
  display: block;
  font-size: 1.2em;
  margin-bottom: 3%;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.container .article .download a.btn-download .d .size {
  font-size: 0.75em;
  margin-bottom: 0;
}
.container .article .download a.btn-download i {
  width: 25%;
  float: right;
  display: inline-block;
  font-size: 2.2em;
  text-align: right;
}
.logout {
  width: 30%;
  margin: 3% 35%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 18%;
}
.logout h2 {
  font-size: 2.4em;
  margin-bottom: 10%;
  font-weight: normal;
  color: #002e26;
  font-family: "maledpan", sans-serif;
}
.logout a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 3% 5%;
  border-radius: 5px;
  font-size: 1.1em;
  background: #e8e8e9;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
  line-height: 1em;
}
.logout a:hover {
  cursor: pointer;
}
.logout a i {
  margin-right: 15px;
}
.form {
  width: 40%;
  margin: 3% 30%;
  float: left;
  display: inline-block;
}
.form .form-items {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
  box-sizing: border-box;
}
.form .form-items.middle {
  margin-top: 22%;
}
.form .form-items.hidden {
  display: none;
}
.form .form-items.control {
  border-top: 3px solid #EAEAEA;
  padding-top: 5%;
}
.form .form-items.delete-box {
  padding: 5%;
  margin-top: 5%;
  border-radius: 5px;
  background: #FFCDD2;
}
.form .form-items.delete-box .msg {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 3%;
  color: #111111;
}
.form .form-items label {
  width: 99%;
  margin-left: 1%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  color: #333333;
  margin-bottom: 1%;
  font-family: "maledpan", sans-serif;
}
.form .form-items label:hover {
  cursor: pointer;
  color: #111111;
}
.form .form-items .inputfile {
  display: none;
}
.form .form-items .inputtext,
.form .form-items textarea {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 2.5% 3%;
  font-size: 1em;
  margin-bottom: 4%;
  line-height: 1.5em;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.form .form-items .inputtext:hover,
.form .form-items textarea:hover {
  cursor: pointer;
}
.form .form-items .inputtext:focus,
.form .form-items textarea:focus {
  color: #111111;
}
.form .form-items .selection {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.form .form-items .selection .items {
  width: 31.33%;
  padding: 5% 0%;
  margin-right: 3%;
  float: left;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  background: #eeeeee;
  color: #666666;
  border: 2px solid #eeeeee;
}
.form .form-items .selection .items i {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}
.form .form-items .selection .items span {
  display: block;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.form .form-items .selection .items:nth-child(3n+0) {
  margin-right: 0%;
}
.form .form-items .selection .items:hover {
  cursor: pointer;
}
.form .form-items .selection .items.active {
  color: #27ae60;
  background: #E8F5E9;
  border: 2px solid #27ae60;
  box-shadow: none;
}
.form .form-items .select {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  margin-bottom: 5%;
}
.form .form-items .select:after {
  content: '';
  border: 7px solid transparent;
  border-top: 10px solid #666666;
  position: absolute;
  z-index: 2;
  top: 38%;
  right: 4%;
  pointer-events: none;
}
.form .form-items .select select {
  width: 100%;
  margin: 0%;
  padding: 2.5% 3%;
  float: left;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.form .form-items .select select:hover {
  cursor: pointer;
  color: #111111;
}
.form .form-items .file-preview {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  padding: 15% 0%;
  margin-bottom: 5%;
  border-radius: 5px;
  box-sizing: border-box;
  background: #e8e8e9;
  color: #666666;
}
.form .form-items .file-preview i {
  display: block;
  font-size: 3em;
  margin-bottom: 2%;
}
.form .form-items .file-preview p {
  display: block;
  font-size: 1.4em;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.form .form-items .file-preview .info {
  font-size: 1em;
  color: #BBBBBB;
}
.form .form-items .file-preview:hover {
  cursor: pointer;
  color: #666666;
}
.form .form-items .file-preview:hover p {
  text-decoration: underline;
}
.form .form-items button {
  padding: 3% 4%;
  float: right;
  display: inline-block;
  font-size: 1.1em;
  border: 0px;
  border-radius: 5px;
  line-height: 1em;
  background: #2ecc71;
  background: -webkit-linear-gradient(to right, #2ecc71, #27ae60);
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.form .form-items button:hover {
  cursor: pointer;
  background: #66BB6A;
}
.form .form-items button.loading {
  background: transparent;
  box-shadow: none;
  color: #333333;
}
.form .form-items button i {
  margin-left: 10px;
}
.form .form-items button.btn-delete {
  float: left;
  background: #C62828;
}
.form .form-items button.btn-delete:hover {
  background: #B71C1C;
}
.login {
  width: 100%;
  float: left;
  display: inline-block;
}
.login .welcome {
  width: 24%;
  float: left;
  display: inline-block;
  margin-left: 21%;
  margin-right: 5%;
  margin-top: 15%;
  text-align: center;
}
.login .welcome img {
  width: 30%;
  margin: 0% 35%;
  float: left;
  display: inline-block;
  margin-bottom: 10%;
}
.login .welcome h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.7em;
  margin-bottom: 3%;
  color: #111111;
  line-height: 1.2em;
}
.login .welcome p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: #333333;
  margin-bottom: 10%;
}
.login .welcome a.btn-back {
  display: inline-block;
  color: #333333;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 1em;
  background: #e8e8e9;
}
.login .welcome a.btn-back i {
  margin-right: 10px;
}
.login .welcome a.btn-back:hover {
  color: #111111;
}
.login .content {
  width: 23%;
  float: right;
  display: inline-block;
  margin-right: 22%;
  margin-left: 5%;
  margin-top: 12%;
}
.login .content .nav {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 10%;
}
.login .content .nav a {
  width: 50%;
  padding: 4% 0%;
  float: left;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #e8e8e9;
  color: #666666;
  letter-spacing: 1px;
}
.login .content .nav a.active {
  color: #111111;
  border-bottom: 1px solid #111111;
}
.login .content .nav a.active:hover {
  color: #111111;
}
.login .content .nav a:hover {
  color: #333333;
}
.login .content .nav a i {
  margin-right: 7px;
}
.login .content .inputtext {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 4% 5%;
  font-size: 1em;
  margin-bottom: 5%;
  line-height: 1.5em;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.login .content .inputtext:hover {
  cursor: pointer;
}
.login .content .inputtext:focus {
  color: #111111;
}
.login .content .btn {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.1em;
  border: 0px;
  line-height: 1em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
  background: #2ecc71;
  background: -webkit-linear-gradient(to right, #2ecc71, #27ae60);
  background: linear-gradient(to right, #2ecc71, #27ae60);
}
.login .content .btn:hover {
  cursor: pointer;
}
.login .content .btn.loading {
  background: transparent;
  color: #666666;
  box-shadow: none;
}
.login .content .btn-facebook {
  background: #3b5998;
}
.login .content .btn-facebook i {
  margin-right: 15px;
}
.login .content .btn-facebook:hover {
  background: #355088;
}
.login .content .btn-submit {
  margin-top: 5%;
}
.login .content .btn-submit i {
  margin-left: 15px;
}
.login .content .line {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  color: #666666;
  font-family: "maledpan", sans-serif;
  letter-spacing: 1px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
}
.qrcode-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 26%;
  margin: 0% 37%;
  margin-top: 5%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  font-family: "maledpan", sans-serif;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.qrcode-dialog.open {
  opacity: 1;
  visibility: visible;
}
.qrcode-dialog .head {
  width: 90%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  padding: 4% 5%;
  background: #2ecc71;
  background: -webkit-linear-gradient(to right, #2ecc71, #27ae60);
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: #FFFFFF;
}
.qrcode-dialog img {
  width: 100%;
  float: left;
  display: inline-block;
}
.qrcode-dialog .control {
  width: 100%;
  float: left;
  display: inline-block;
  background: #e8e8e9;
}
.qrcode-dialog .control .btn {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
  padding: 5% 0%;
  color: #27ae60;
  text-decoration: none;
  font-size: 1.2em;
}
.qrcode-dialog .control .btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.qrcode-dialog .control .btn.btn-close {
  color: #666666;
}
#progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 3px;
  float: left;
  display: none;
  z-index: 999;
  background: #3bed8d;
  background: -webkit-linear-gradient(to right, #3bed8d, #38acc5);
  background: linear-gradient(to right, #3bed8d, #38acc5);
}
.style1 i.fa-circle {
  color: #1abc9c !important;
}
.style2 i.fa-circle {
  color: #2ecc71 !important;
}
.style3 i.fa-circle {
  color: #3498db !important;
}
.style4 i.fa-circle {
  color: #9b59b6 !important;
}
.style5 i.fa-circle {
  color: #f1c40f !important;
}
.style6 i.fa-circle {
  color: #e67e22 !important;
}
.style7 i.fa-circle {
  color: #e74c3c !important;
}
.style8 i.fa-circle {
  color: #27ae60 !important;
}
.style9 i.fa-circle {
  color: #7f8c8d !important;
}
/* Other Device and Screen */
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header a.logo {
    padding: 10px 1%;
    padding-left: 5%;
    height: 30px;
    letter-spacing: 0px;
  }
  .header a.logo img {
    margin-right: 10px;
  }
  .header a.logo .detail .name {
    letter-spacing: 1px;
  }
  .header a.logo .detail .desc {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .header .btn {
    padding: 16px 5%;
    letter-spacing: 0px;
  }
  .header .btn i {
    font-size: 1.3em;
    margin-right: 5px;
  }
  .header .title {
    padding: 16px 3%;
  }
  .header .btn-profile {
    padding: 16px 5%;
    letter-spacing: 0px;
  }
  .header .btn-profile img {
    margin-right: 0px;
  }
  .header .btn-profile .name {
    display: none;
  }
  .header .btn-profile .more-menu {
    width: 220px;
    top: 90%;
    right: 16%;
  }
  .header .btn-profile .more-menu .arrow-up {
    right: 6%;
  }
  .header .btn-profile .more-menu a {
    padding: 8% 10%;
  }
  .search-form {
    width: 90%;
    margin: 5%;
  }
  .search-form .icon {
    font-size: 1.2em;
    padding: 3% 5%;
  }
  .search-form .inputtext {
    width: 70%;
    padding: 3% 15%;
    font-size: 1em;
  }
  .search-form .tip {
    font-size: 0.65em;
    letter-spacing: 0px;
  }
  .headtopic {
    width: 90%;
    padding: 5%;
    font-size: 1.2em;
    text-align: left;
  }
  .container {
    width: 100%;
    margin: 5% 0%;
  }
  .container .menu {
    width: 94%;
    margin: 0% 3%;
    margin-bottom: 5%;
  }
  .container .menu .items {
    padding: 5% 0%;
  }
  .container .menu .items i {
    font-size: 1.6em;
    margin-bottom: 7px;
  }
  .container .menu .items span {
    font-size: 1em;
  }
  .container .section {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 10%;
  }
  .container .section .topic {
    width: 90%;
    margin: 0% 5%;
    font-size: 1.2em;
    margin-bottom: 0%;
  }
  .container .section .topic.center {
    margin-bottom: 5%;
  }
  .container .section .list.border {
    width: 90%;
    margin: 0% 5%;
  }
  .container .section .list .file-items {
    width: 92%;
    padding: 4%;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .section .list .file-items a.icontype {
    width: 12%;
    font-size: 1.6em;
    line-height: 1.7em;
  }
  .container .section .list .file-items .detail {
    width: 80%;
  }
  .container .section .list .file-items .detail .name {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 1%;
  }
  .container .section .list .file-items .detail p {
    font-size: 0.75em;
  }
  .container .section .list .file-items a.icon {
    width: 8%;
    font-size: 1.6em;
    line-height: 1.7em;
  }
  .container .section .list a.choose-items {
    width: 90%;
    padding: 3% 5%;
  }
  .container .section .list a.choose-items span {
    width: 92%;
    font-size: 1.4em;
  }
  .container .section .list a.choose-items i {
    width: 8%;
    font-size: 1.8em;
  }
  .container .section .starter {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    margin-top: 20%;
  }
  .container .section .starter p {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 2.4em;
    color: #666666;
    font-family: "maledpan", sans-serif;
  }
  .container .section .starter a {
    display: inline-block;
    font-size: 1.2em;
    background: #004d40;
    color: #1abc9c;
    text-decoration: none;
    padding: 2% 4%;
    border-radius: 5px;
    margin-top: 10%;
  }
  .container .section .starter a i {
    margin-right: 15px;
  }
  .container .article {
    width: 90%;
    padding: 0% 5%;
    margin-top: 0%;
  }
  .container .article .info {
    margin-bottom: 3%;
    font-size: 0.8em;
  }
  .container .article .info span,
  .container .article .info a {
    padding: 5px 0px;
  }
  .container .article .info a {
    padding: 5px 10px;
  }
  .container .article h1 {
    font-size: 1.8em;
  }
  .container .article p {
    font-size: 0.8em;
    margin-bottom: 4%;
  }
  .container .article .text {
    font-size: 1em;
    margin-bottom: 5%;
  }
  .container .article .download {
    padding-top: 5%;
  }
  .container .article .download a.btn-download {
    width: 80%;
    padding: 5% 10%;
  }
  .container .article .download a.btn-download .d {
    width: 75%;
  }
  .container .article .download a.btn-download .d .caption {
    font-size: 1.2em;
    margin-bottom: 1%;
  }
  .container .article .download a.btn-download .d .size {
    font-size: 0.75em;
    margin-bottom: 0;
  }
  .container .article .download a.btn-download i {
    width: 25%;
    font-size: 2.2em;
  }
  .logout {
    width: 92%;
    margin: 4%;
    margin-top: 40%;
  }
  .logout h2 {
    font-size: 1.8em;
    margin-bottom: 10%;
  }
  .form {
    width: 90%;
    margin: 5%;
  }
  .form .form-items {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 2%;
    box-sizing: border-box;
  }
  .form .form-items.middle {
    margin-top: 22%;
  }
  .form .form-items.hidden {
    display: none;
  }
  .form .form-items.control {
    border-top: 3px solid #EAEAEA;
    padding-top: 5%;
  }
  .form .form-items.delete-box .msg {
    margin-bottom: 5%;
  }
  .form .form-items label {
    font-size: 1em;
    margin-bottom: 2%;
  }
  .form .form-items .inputtext,
  .form .form-items textarea {
    padding: 4% 3%;
    font-size: 1em;
    margin-bottom: 5%;
    line-height: 1.5em;
  }
  .form .form-items .selection .items {
    width: 32%;
    padding: 5% 0%;
    margin-right: 2%;
    font-size: 0.9em;
    letter-spacing: 0px;
  }
  .form .form-items .selection .items i {
    font-size: 1.8em;
  }
  .form .form-items .select:after {
    right: 5%;
  }
  .form .form-items .select select {
    padding: 4% 3%;
  }
  .form .form-items .file-preview {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 15% 0%;
    margin-bottom: 5%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px dashed #CCCCCC;
    color: #999999;
  }
  .form .form-items .file-preview i {
    font-size: 2.2em;
  }
  .form .form-items .file-preview .info {
    font-size: 0.8em;
  }
  .form .form-items button {
    padding: 4.5% 5%;
    font-size: 1.2em;
  }
  .form .form-items button i {
    margin-left: 10px;
  }
  .login .welcome {
    width: 90%;
    margin: 5%;
  }
  .login .welcome img {
    width: 26%;
    margin: 0% 37%;
    margin-bottom: 5%;
  }
  .login .welcome h1 {
    font-size: 1.4em;
    margin-bottom: 2%;
    line-height: 1.2em;
  }
  .login .welcome p {
    line-height: 1.3em;
    font-size: 0.7em;
    margin-bottom: 0%;
  }
  .login .welcome a.btn-back {
    display: none;
  }
  .login .content {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
  }
  .login .content .nav {
    margin-bottom: 5%;
  }
  .login .content .nav a {
    padding: 4% 0%;
    font-size: 1em;
    letter-spacing: 0px;
  }
  .login .content .nav a i {
    margin-right: 10px;
  }
  .login .content .inputtext {
    padding: 4% 5%;
    font-size: 1em;
    margin-bottom: 3%;
    line-height: 1.3em;
  }
  .login .content .btn {
    font-size: 1.1em;
    line-height: 1.1em;
    letter-spacing: 0px;
  }
  .login .content .btn-submit {
    margin-top: 3%;
  }
  .login .content .line {
    padding: 3% 0%;
    letter-spacing: 0px;
  }
  .qrcode-dialog {
    width: 92%;
    margin: 4%;
  }
  .qrcode-dialog .head {
    font-size: 1em;
  }
  .qrcode-dialog .control .btn {
    padding: 5% 0%;
    font-size: 1em;
  }
}
