/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
.header {
  width: 70%;
  height: 50px;
  padding: 0px 15%;
  float: left;
  display: inline-block;
  z-index: 50;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}
.header.shadow {
  background: rgba(0, 77, 64, 0.95);
}
.header.shadow .title {
  color: #1abc9c;
}
.header.light a.logo .detail .name {
  color: #050505;
}
.header.light a.logo .detail .desc {
  color: #999999;
}
.header.light .btn {
  color: #666666;
}
.header.light .btn:active {
  background: #e8e8e9;
}
.header a.logo {
  width: 28%;
  float: left;
  display: inline-block;
  padding: 10px 1.5%;
  height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1em;
  font-size: 1em;
}
.header a.logo img {
  float: left;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-top: 0px;
}
.header a.logo .detail {
  float: left;
  display: inline-block;
}
.header a.logo .detail .name {
  font-family: "maledpan", sans-serif;
}
.header a.logo .detail .desc {
  font-size: 0.5em;
  color: #1abc9c;
}
.header .btn {
  float: right;
  display: inline-block;
  padding: 7px;
  margin: 9px 0px;
  margin-left: 7px;
  height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border-radius: 5px;
  font-family: "maledpan", sans-serif;
  position: relative;
}
.header .btn i {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 7px;
  margin-top: -1px;
}
.header .btn:hover {
  cursor: pointer;
}
.header .btn:active {
  background: #327066;
}
.header .btn.btn-back {
  float: left;
}
.header .btn.btn-cancel {
  color: #F44336;
}
.header .btn.btn-cancel:active {
  background: #F44336;
  color: #FFFFFF;
}
.header .btn.btn-login i {
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}
.header .btn .more-menu {
  position: absolute;
  width: 200px;
  top: 105%;
  right: 5%;
  padding: 10px 0%;
  background: #FFFFFF;
  border-radius: 5px;
  display: none;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.header .btn .more-menu.open {
  display: block;
}
.header .btn .more-menu .arrow-up {
  position: absolute;
  bottom: 100%;
  right: 10%;
  border: 8px solid transparent;
  border-bottom-color: #FFFFFF;
}
.header .btn .more-menu .caption {
  width: 80%;
  padding: 7% 10%;
  padding-bottom: 2%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #004d40;
}
.header .btn .more-menu .caption:hover {
  cursor: default;
}
.header .btn .more-menu a {
  width: 80%;
  padding: 7% 10%;
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #050505;
  border-bottom: 1px solid #FAFAFA;
}
.header .btn .more-menu a i {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 15px;
  margin-top: -2px;
}
.header .btn .more-menu a.btn-logout {
  color: #c0392b;
}
.header .btn .more-menu a:last-child {
  border-bottom: 0px;
}
.header .btn .more-menu a:hover {
  background: #eeeeee;
}
.header .title {
  float: left;
  display: inline-block;
  padding: 7px;
  margin: 9px 0px;
  margin-left: 7px;
  height: 18px;
  color: #BBBBBB;
  font-family: "maledpan", sans-serif;
  font-size: 1em;
  line-height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 30%;
}
.header .title:hover {
  cursor: default;
}
.header .btn-profile {
  float: right;
  display: inline-block;
  padding: 7px;
  margin: 9px 0px;
  margin-left: 7px;
  height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  font-family: "maledpan", sans-serif;
}
.header .btn-profile:hover {
  cursor: pointer;
}
.header .btn-profile .notif {
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  display: inline-block;
  background: #F44336;
  color: #FFFFFF;
  font-size: 0.7em;
  line-height: 1em;
  padding: 2px 3px;
  border-radius: 3px;
}
.header .btn-profile img {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: -7px;
  border-radius: 50%;
}
.header .btn-profile .icon {
  margin-left: 5px;
}
.header .btn-profile .more-menu {
  position: absolute;
  width: 200px;
  top: 105%;
  right: 15%;
  padding: 10px 0%;
  background: #FFFFFF;
  border-radius: 5px;
  display: none;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.header .btn-profile .more-menu.open {
  display: block;
}
.header .btn-profile .more-menu .arrow-up {
  position: absolute;
  bottom: 100%;
  right: 20%;
  border: 8px solid transparent;
  border-bottom-color: #FFFFFF;
}
.header .btn-profile .more-menu .caption {
  width: 80%;
  padding: 7% 10%;
  padding-bottom: 2%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #004d40;
}
.header .btn-profile .more-menu .caption:hover {
  cursor: default;
}
.header .btn-profile .more-menu a {
  width: 80%;
  padding: 7% 10%;
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #050505;
  border-bottom: 1px solid #FAFAFA;
}
.header .btn-profile .more-menu a i {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 15px;
  margin-top: -2px;
}
.header .btn-profile .more-menu a.btn-logout {
  color: #c0392b;
}
.header .btn-profile .more-menu a:last-child {
  border-bottom: 0px;
}
.header .btn-profile .more-menu a:hover {
  background: #eeeeee;
}
.searchform {
  width: 40%;
  margin: 0% 30%;
  float: left;
  display: inline-block;
  position: relative;
  margin-top: 50px;
}
.searchform .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4em;
  padding: 2% 4%;
  color: #666666;
}
.searchform .inputtext {
  width: 80%;
  padding: 2% 10%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5em;
  border-radius: 5px;
  background: #e8e8e9;
  color: #333333;
  border: 0;
}
.searchform .inputtext:hover {
  cursor: pointer;
}
.searchform .inputtext:focus {
  color: #050505;
}
.searchform .tip {
  position: absolute;
  bottom: 10px;
  right: 10px;
  float: left;
  display: inline-block;
  font-size: 0.7em;
  color: #999999;
}
.cover {
  width: 100%
	float: left;
  display: inline-block;
  height: 440px;
  overflow: hidden;
  position: relative;
}
.cover .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: -moz-linear-gradient(top, rgba(0, 77, 64, 0.9) 30%, rgba(0, 77, 64, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 77, 64, 0.9) 30%, rgba(0, 77, 64, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 77, 64, 0.9) 30%, rgba(0, 77, 64, 0.65) 100%);
}
.cover .welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  margin: 0 30%;
  padding-top: 8%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  text-align: center;
}
.cover .welcome h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 3em;
  color: #FFFFFF;
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
}
.cover .welcome p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.3em;
  color: #FFFFFF;
  margin-bottom: 10%;
  letter-spacing: 1px;
}
.cover .welcome a {
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 5px;
  background: #FFFFFF;
  color: #004d40;
  padding: 5px 25px;
  padding-bottom: 10px;
  line-height: 1em;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.cover .welcome a i {
  margin-left: 15px;
  display: inline-block;
}
.cover img {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: -240px;
}
.container {
  width: 40%;
  margin: 10% 30%;
  margin-top: 50px;
  float: left;
  display: inline-block;
}
.container.nomargin {
  margin-top: 0px;
}
.container .topic {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  color: #333333;
  font-family: "maledpan", sans-serif;
  line-height: 1em;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: right;
}
.container .topic.center {
  text-align: left;
  margin-bottom: 5%;
  font-size: 1.4em;
  color: #333333;
}
.container .topic span {
  display: block;
  font-size: 0.7em;
  margin-top: 5px;
  color: #999999;
}
.container .list {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .list .file-items {
  width: 94%;
  padding: 2% 3%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  margin-bottom: 1%;
  border-radius: 5px;
}
.container .list .file-items:last-child .detail {
  margin-bottom: 0;
}
.container .list .file-items:hover {
  background: #EAEAEA;
}
.container .list .file-items a.icontype {
  width: 8%;
  float: left;
  display: inline-block;
  font-size: 1.8em;
  line-height: 1.6em;
  color: #BBBBBB;
}
.container .list .file-items .detail {
  width: 92%;
  float: left;
  display: inline-block;
}
.container .list .file-items .detail .name a {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #050505;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
}
.container .list .file-items .detail .name a:hover {
  text-decoration: underline;
}
.container .list .file-items .detail p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #999999;
}
.container .list .file-items .detail p a {
  text-decoration: none;
  color: #999999;
}
.container .list .file-items .detail p a:hover {
  text-decoration: underline;
}
.container .list .member-items {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .list .member-items:last-child .detail {
  border-bottom: 0px;
}
.container .list .member-items .avatar {
  width: 7%;
  padding: 3% 0%;
  margin-right: 2%;
  float: left;
  display: inline-block;
  margin-top: 1%;
}
.container .list .member-items .avatar img {
  width: 100%;
  float: left;
  display: inline-block;
  border-radius: 50%;
}
.container .list .member-items .detail {
  width: 91%;
  padding: 3% 0%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list .member-items .detail .name {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.3em;
  color: #050505;
  font-family: "maledpan", sans-serif;
}
.container .list .member-items .detail .name a {
  color: #050505;
  text-decoration: none;
}
.container .list .member-items .detail .name a:hover {
  text-decoration: underline;
}
.container .list .member-items .detail .name span {
  float: left;
  display: inline-block;
}
.container .list .member-items .detail .name span.tag {
  background: #004d40;
  font-size: 0.45em;
  padding: 3px 5px;
  border-radius: 3px;
  line-height: 1.1em;
  margin-left: 5px;
  margin-top: 10px;
  color: #FFFFFF;
}
.container .list .member-items .detail .name span.lock {
  background: #AAAAAA;
}
.container .list .member-items .detail .desc {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #666666;
}
.container .list .member-items .detail .desc span i {
  margin-right: 3px;
  font-size: 0.9em;
}
.container .list .member-items .detail .desc span.active {
  background: #28a646;
  color: #FFFFFF;
}
.container .list .member-items .detail .control {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 2%;
}
.container .list .member-items .detail .control .btnop {
  padding: 2% 3%;
  margin-right: 1%;
  float: right;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  border: 0px;
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
  color: #999999;
  border: 1px solid #DDDDDD;
  line-height: 1em;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.container .list .member-items .detail .control .btnop:hover {
  cursor: pointer;
  color: #333333;
  border: 1px solid #AAAAAA;
}
.container .list .member-items .detail .control .btnop i {
  margin-left: 7px;
}
.container .list .member-items .detail .control .btnop.btn-approve {
  background: #24953f;
  color: #FFFFFF;
}
.container .list .empty {
  width: 100%;
  margin-top: 40%;
  float: left;
  display: inline-block;
  text-align: center;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #666666;
}
.container .list .choose-items {
  width: 100%;
  padding: 2% 3%;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
  border-radius: 5px;
  box-sizing: border-box;
  background: #eeeeee;
}
.container .list .choose-items:hover {
  background: #e8e8e9;
}
.container .list .choose-items .icon {
  width: 6%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 2.2em;
  color: #666666;
}
.container .list .choose-items .name {
  width: 86%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "maledpan", sans-serif;
  color: #050505;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: transparent;
}
.container .list .choose-items .name .inputtext {
  width: 100%;
  float: left;
  display: inline-block;
  border: 0px;
  font-size: 1.1em;
  line-height: 1.5em;
  background: transparent;
  margin-top: 1%;
}
.container .list .choose-items .control {
  width: 8%;
  float: right;
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.3em;
  color: #BBBBBB;
  text-align: right;
  cursor: pointer;
}
.container .list .choose-items .control i.fa-plus-circle {
  color: #28a646;
}
.container .starter {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 45%;
}
.container .starter p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  color: #666666;
  font-family: "maledpan", sans-serif;
}
.container .starter a {
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  padding: 3% 4%;
  border-radius: 5px;
  margin-top: 5%;
  background: #28a646;
  line-height: 1em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.container .starter a:hover {
  cursor: pointer;
  background: #24953f;
}
.container .article {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 25%;
  background: #FFFFFF;
}
.container .article .category {
  color: #999999;
  text-decoration: none;
  font-size: 0.9em;
}
.container .article .category i {
  margin-left: 5px;
}
.container .article .category:hover {
  text-decoration: underline;
  color: #050505;
}
.container .article h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: 2%;
  color: #050505;
  font-weight: normal;
  font-family: "maledpan", sans-serif;
}
.container .article p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: #666666;
  margin-bottom: 3%;
}
.container .article p a {
  text-decoration: none;
  color: #333333;
}
.container .article p i {
  margin-right: 5px;
}
.container .article p a:hover {
  text-decoration: underline;
}
.container .article .text {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 5%;
  color: #666666;
}
.container .article .download {
  width: 100%;
  float: left;
  display: inline-block;
  padding-top: 5%;
}
.container .article .download .btn {
  width: 40%;
  padding: 3% 4%;
  margin-right: 2%;
  float: right;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border-radius: 5px;
  box-sizing: border-box;
}
.container .article .download .btn.btn-download {
  background: #28a646;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.container .article .download .btn.btn-download:hover {
  background: #24953f;
}
.container .article .download .btn.btn-qrcode {
  background: #e8e8e9;
  color: #333333;
}
.container .article .download .btn.btn-qrcode:hover {
  color: #333333;
}
.container .article .download .btn:hover {
  cursor: pointer;
}
.container .article .download .btn .d {
  width: 75%;
  float: left;
  display: inline-block;
}
.container .article .download .btn .d .caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 3%;
  font-family: "maledpan", sans-serif;
}
.container .article .download .btn .d .size {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container .article .download .btn i {
  width: 25%;
  float: right;
  display: inline-block;
  font-size: 2.2em;
  text-align: right;
}
.logout {
  width: 30%;
  margin: 3% 35%;
  float: left;
  display: inline-block;
  margin-top: 14%;
}
.logout h2 {
  font-size: 2.8em;
  font-weight: normal;
  color: #050505;
  font-family: "maledpan", sans-serif;
  margin-bottom: 2%;
}
.logout p {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  color: #333333;
}
.logout p strong {
  color: #050505;
}
.logout textarea {
  width: 92%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: 5%;
  padding: 4%;
  border-radius: 5px;
  color: #333333;
  background: #e8e8e9;
  border: 0;
  resize: none;
}
.logout textarea:hover {
  cursor: pointer;
}
.logout textarea:focus {
  color: #050505;
}
.logout a {
  margin-top: 10%;
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #666666;
  padding: 2.5% 3%;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  line-height: 1em;
  border: 1px solid #e8e8e9;
}
.logout a:hover {
  cursor: pointer;
}
.logout a:active {
  background: #e8e8e9;
}
.logout a i {
  margin-right: 10px;
}
.logout a.right {
  float: right;
  color: #FFFFFF;
  background: #28a646;
  border: 1px solid #28a646;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.logout a.right:hover {
  background: #24953f;
}
.logout a.right i {
  margin: 0px;
  margin-left: 10px;
}
.logout button {
  margin-top: 10%;
  float: right;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 3% 5%;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  background: #28a646;
  color: #FFFFFF;
  line-height: 1em;
  border: 0px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.logout button i {
  margin-left: 7px;
}
.logout button:hover {
  cursor: pointer;
  background: #24953f;
}
.form {
  width: 40%;
  margin: 3% 30%;
  float: left;
  display: inline-block;
}
.form .form-items {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
  box-sizing: border-box;
}
.form .form-items.middle {
  margin-top: 18%;
}
.form .form-items.hidden {
  display: none;
}
.form .form-items.control {
  border-top: 1px dotted #e8e8e9;
  padding: 5% 0%;
}
.form .form-items.delete-box {
  padding: 5% 0%;
  margin-top: 15%;
  border-radius: 5px;
  font-family: "maledpan", sans-serif;
}
.form .form-items.delete-box .msg {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  margin-bottom: 5%;
  color: #050505;
}
.form .form-items label {
  width: 99%;
  margin-left: 1%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 2%;
  font-family: "maledpan", sans-serif;
}
.form .form-items label:hover {
  cursor: pointer;
  color: #050505;
}
.form .form-items .inputfile {
  display: none;
}
.form .form-items .inputtext,
.form .form-items textarea {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 2.5% 3%;
  font-size: 1em;
  margin-bottom: 4%;
  line-height: 1.5em;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.form .form-items .inputtext:hover,
.form .form-items textarea:hover {
  cursor: pointer;
}
.form .form-items .inputtext:focus,
.form .form-items textarea:focus {
  color: #050505;
  background: #e2e2e3;
}
.form .form-items .selection {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.form .form-items .selection .items {
  width: 100%;
  padding: 2.5% 0%;
  float: left;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  color: #666666;
  border: 2px solid #e8e8e9;
  margin-bottom: 2%;
}
.form .form-items .selection .items i {
  width: 15%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  text-align: center;
  margin-top: 1.5%;
}
.form .form-items .selection .items .caption {
  width: 85%;
  float: left;
  display: inline-block;
}
.form .form-items .selection .items .caption .t {
  font-size: 1.4em;
  font-family: "maledpan", sans-serif;
}
.form .form-items .selection .items .caption .c {
  font-size: 0.9em;
}
.form .form-items .selection .items:nth-child(3n+0) {
  margin-right: 0%;
}
.form .form-items .selection .items:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.form .form-items .selection .items.active {
  color: #24953f;
  background: #E8F5E9;
  border: 2px solid #24953f;
}
.form .form-items .select {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  margin-bottom: 5%;
}
.form .form-items .select:after {
  content: '';
  border: 7px solid transparent;
  border-top: 10px solid #666666;
  position: absolute;
  z-index: 2;
  top: 38%;
  right: 4%;
  pointer-events: none;
}
.form .form-items .select select {
  width: 100%;
  margin: 0%;
  padding: 2.5% 3%;
  float: left;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.form .form-items .select select:hover {
  cursor: pointer;
  color: #050505;
  background: #e2e2e3;
}
.form .form-items .file-preview {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  padding: 10% 0%;
  margin-bottom: 5%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px dashed #BBBBBB;
  color: #333333;
}
.form .form-items .file-preview i {
  display: block;
  font-size: 3em;
  margin-bottom: 2%;
  color: #DDDDDD;
}
.form .form-items .file-preview p {
  display: block;
  font-size: 1.5em;
  font-family: "maledpan", sans-serif;
}
.form .form-items .file-preview .info {
  font-size: 0.9em;
  color: #999999;
}
.form .form-items .file-preview:hover {
  cursor: pointer;
  color: #666666;
  background: #EFEFEF;
}
.form .form-items .file-preview:hover p {
  text-decoration: underline;
}
.form .form-items a.btn {
  padding: 3% 4%;
  float: right;
  display: inline-block;
  font-size: 1.2em;
  border: 0px;
  border-radius: 5px;
  line-height: 1em;
  color: #999999;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  text-align: center;
}
.form .form-items a.btn:hover {
  text-decoration: underline;
}
.form .form-items a.btn:active {
  background: #e8e8e9;
}
.form .form-items button {
  padding: 3% 4%;
  margin: 0px;
  float: right;
  display: inline-block;
  font-size: 1.2em;
  border: 0px;
  border-radius: 5px;
  line-height: 1em;
  background: #28a646;
  color: #FFFFFF;
  font-family: "maledpan", sans-serif;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}
.form .form-items button:hover {
  cursor: pointer;
  background: #24953f;
}
.form .form-items button i {
  margin-left: 10px;
}
.form .form-items button.btn-delete {
  background: #C62828;
}
.form .form-items button.loading {
  background: #EEEEEE;
  color: #999999;
  box-shadow: none;
}
.login {
  width: 100%;
  float: left;
  display: inline-block;
}
.login .welcome {
  width: 27%;
  float: left;
  display: inline-block;
  margin-left: 20%;
  margin-right: 3%;
  margin-top: 17%;
  text-align: center;
}
.login .welcome img {
  width: 30%;
  margin: 0% 35%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.login .welcome h1 a {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 2em;
  margin-bottom: 3%;
  color: #050505;
  line-height: 1.1em;
  text-decoration: none;
  font-weight: normal;
}
.login .welcome p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: #666666;
  margin-bottom: 10%;
}
.login .welcome a.btn-back {
  display: inline-block;
  color: #333333;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 1em;
  background: #FAFAFA;
}
.login .welcome a.btn-back i {
  margin-right: 10px;
}
.login .welcome a.btn-back:hover {
  color: #050505;
}
.login .welcome a.btn-back:active {
  background: #e8e8e9;
}
.login .content {
  width: 23%;
  float: right;
  display: inline-block;
  margin-right: 22%;
  margin-left: 5%;
  margin-top: 15%;
}
.login .content .inputtext {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 4% 5%;
  font-size: 1em;
  margin-bottom: 5%;
  line-height: 1.5em;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  color: #333333;
  background: #e8e8e9;
  border: 0;
}
.login .content .inputtext:hover {
  cursor: pointer;
}
.login .content .inputtext:focus {
  color: #050505;
  background: #e2e2e3;
}
.login .content .btn {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.2em;
  border: 0px;
  line-height: 1em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "maledpan", sans-serif;
  background: #28a646;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.login .content .btn:hover {
  cursor: pointer;
}
.login .content .btn.loading {
  box-shadow: none;
  color: #666666;
  background: transparent;
}
.login .content .btn-facebook {
  background: #3b5998;
}
.login .content .btn-facebook i {
  margin-right: 10px;
}
.login .content .btn-facebook:hover {
  background: #355088;
}
.login .content .btn-submit i {
  margin-left: 10px;
}
.login .content .btn-submit:hover {
  background: #24953f;
}
.login .content .btn-register {
  background: #E65100;
}
.login .content .btn-register i {
  margin-left: 10px;
}
.login .content .line {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  color: #666666;
  font-family: "maledpan", sans-serif;
}
.login .content p {
  width: 100%;
  margin-top: 10%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #666666;
  text-align: center;
}
.login .content p a {
  color: #004d40;
}
.login .content p a i {
  margin-left: 7px;
}
.login .content p a:hover {
  color: #002e26;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  margin: 0% 35%;
  margin-top: 3%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  z-index: 120;
  opacity: 0;
  visibility: hidden;
  font-family: "maledpan", sans-serif;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.dialog.open {
  opacity: 1;
  visibility: visible;
}
.dialog .head {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  color: #999999;
}
.dialog .head .text {
  padding: 3.5% 5%;
  float: left;
  display: inline-block;
}
.dialog .head .text:hover {
  cursor: default;
}
.dialog .head .btn {
  padding: 3.5% 5%;
  float: right;
  display: inline-block;
  color: #BBBBBB;
}
.dialog .head .btn:hover {
  cursor: pointer;
}
.dialog img {
  width: 100%;
  float: left;
  display: inline-block;
}
.dialog .content {
  width: 90%;
  padding: 5%;
  float: left;
  display: inline-block;
}
.dialog .content label {
  width: 99%;
  margin-left: 1%;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
  color: #050505;
  font-size: 1.1em;
}
.dialog .content .inputtext {
  width: 90%;
  padding: 4% 5%;
  float: left;
  display: inline-block;
  border: 0px;
  margin: 0px;
  font-size: 1.1em;
  background: #eeeeee;
  border-radius: 5px;
  color: #333333;
}
.dialog .content .inputtext:hover {
  cursor: pointer;
}
.dialog .content .inputtext:focus {
  color: #050505;
}
.dialog .control {
  width: 100%;
  float: left;
  display: inline-block;
  border-top: 1px solid #e8e8e9;
}
.dialog .control .btn {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  line-height: 1em;
  padding: 5%;
  border: 0px;
  margin: 0px;
  background: transparent;
  color: #999999;
  text-decoration: none;
}
.dialog .control .btn i {
  margin-right: 10px;
}
.dialog .control .btn:hover {
  cursor: pointer;
}
.dialog .control .btn:active {
  background: #e8e8e9;
}
.dialog .control .btn.delete {
  color: #F44336;
}
.dialog .control .btn.save {
  float: right;
  color: #28a646;
}
.dialog .control .btn.save:hover {
  color: #24953f;
}
.dialog .control .btn.fullsize {
  width: 90%;
  text-align: center;
  background: #28a646;
  color: #FFFFFF;
}
.dialog .control .btn.fullsize:hover {
  background: #24953f;
}
#progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  float: left;
  display: inline-block;
  z-index: 999;
  background: #3bed8d;
  background: -webkit-linear-gradient(to right, #3bed8d, #38acc5);
  background: linear-gradient(to right, #3bed8d, #38acc5);
}
/* Other Device and Screen */
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .header a.logo {
    width: auto;
    padding: 10px 5%;
  }
  .header a.logo img {
    margin-right: 0px;
  }
  .header a.logo .detail {
    display: none;
  }
  .header .btn {
    padding: 7px 5%;
    margin-left: 0%;
  }
  .header .btn .more-menu {
    top: 105%;
    right: 15%;
  }
  .header .btn .more-menu .arrow-up {
    right: 15%;
  }
  .header .btn .more-menu a {
    padding: 8% 10%;
  }
  .header .title {
    padding: 7px 5%;
    margin-left: 0%;
    max-width: 30%;
  }
  .header .btn-profile {
    padding: 7px 5%;
    margin-left: 0%;
  }
  .header .btn-profile .notif {
    top: -2px;
    left: 7px;
    font-size: 0.7em;
  }
  .header .btn-profile img {
    margin-right: 0px;
  }
  .header .btn-profile .name {
    display: none;
  }
  .header .btn-profile .icon {
    margin-left: 5px;
  }
  .header .btn-profile .more-menu {
    top: 120%;
    right: 15%;
  }
  .header .btn-profile .more-menu .arrow-up {
    right: 14%;
  }
  .header .btn-profile .more-menu .caption {
    width: 80%;
    padding: 7% 10%;
    padding-bottom: 2%;
    font-size: 0.75em;
  }
  .header .btn-profile .more-menu a {
    padding: 8% 10%;
  }
  .searchform {
    width: 90%;
    margin: 0% 5%;
  }
  .searchform .icon {
    font-size: 1.2em;
    padding: 5%;
  }
  .searchform .inputtext {
    width: 80%;
    padding: 5%;
    padding-left: 15%;
    font-size: 1em;
  }
  .searchform .tip {
    display: none;
  }
  .cover {
    height: auto;
  }
  .cover .welcome {
    width: 90%;
    margin: 0 5%;
    padding-top: 30%;
  }
  .cover .welcome h1 {
    font-size: 2em;
  }
  .cover .welcome p {
    font-size: 1em;
    margin-bottom: 20%;
    letter-spacing: 0px;
  }
  .cover .welcome a {
    font-size: 1.2em;
    padding: 5px 25px;
    padding-bottom: 10px;
  }
  .cover img {
    margin-top: 0px;
  }
  .container {
    width: 100%;
    margin: 0%;
    margin-top: 50px;
  }
  .container.nomargin {
    margin-top: 0px;
  }
  .container .topic {
    width: 90%;
    margin: 5%;
    font-size: 1em;
    margin-bottom: 3%;
  }
  .container .topic.center {
    text-align: left;
    margin-bottom: 5%;
    font-size: 1.4em;
  }
  .container .topic span {
    display: block;
    font-size: 0.7em;
  }
  .container .list .file-items {
    width: 80%;
    padding: 3% 5%;
    margin: 0 5%;
    margin-bottom: 2%;
  }
  .container .list .file-items a.icontype {
    width: 15%;
    font-size: 1.6em;
    line-height: 1.6em;
  }
  .container .list .file-items .detail {
    width: 85%;
  }
  .container .list .file-items .detail .name a {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .container .list .file-items .detail p {
    font-size: 0.75em;
  }
  .container .list .member-items {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .container .list .member-items:last-child .detail {
    border-bottom: 0px;
  }
  .container .list .member-items .avatar {
    width: 7%;
    padding: 3% 0%;
    margin-right: 2%;
    float: left;
    display: inline-block;
    margin-top: 1%;
  }
  .container .list .member-items .avatar img {
    width: 100%;
    float: left;
    display: inline-block;
    border-radius: 50%;
  }
  .container .list .member-items .detail {
    width: 91%;
    padding: 3% 0%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list .member-items .detail .name {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #050505;
    font-family: "maledpan", sans-serif;
  }
  .container .list .member-items .detail .name a {
    color: #050505;
    text-decoration: none;
  }
  .container .list .member-items .detail .name a:hover {
    text-decoration: underline;
  }
  .container .list .member-items .detail .name span {
    float: left;
    display: inline-block;
  }
  .container .list .member-items .detail .name span.tag {
    background: #004d40;
    font-size: 0.45em;
    padding: 3px 5px;
    border-radius: 3px;
    line-height: 1.1em;
    margin-left: 5px;
    margin-top: 10px;
    color: #FFFFFF;
  }
  .container .list .member-items .detail .name span.lock {
    background: #AAAAAA;
  }
  .container .list .member-items .detail .desc {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.5em;
    color: #666666;
  }
  .container .list .member-items .detail .desc span i {
    margin-right: 3px;
    font-size: 0.9em;
  }
  .container .list .member-items .detail .desc span.active {
    background: #28a646;
    color: #FFFFFF;
  }
  .container .list .member-items .detail .control {
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 2%;
  }
  .container .list .member-items .detail .control .btnop {
    padding: 2% 3%;
    margin-right: 1%;
    float: right;
    display: inline-block;
    font-family: "maledpan", sans-serif;
    border: 0px;
    font-size: 1em;
    background: transparent;
    border-radius: 5px;
    color: #999999;
    border: 1px solid #DDDDDD;
    line-height: 1em;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .container .list .member-items .detail .control .btnop:hover {
    cursor: pointer;
    color: #333333;
    border: 1px solid #AAAAAA;
  }
  .container .list .member-items .detail .control .btnop i {
    margin-left: 7px;
  }
  .container .list .member-items .detail .control .btnop.btn-approve {
    background: #24953f;
    color: #FFFFFF;
  }
  .container .list .empty {
    width: 100%;
    margin-top: 40%;
    float: left;
    display: inline-block;
    text-align: center;
    font-family: "maledpan", sans-serif;
    font-size: 1.1em;
    color: #666666;
  }
  .container .list .choose-items {
    width: 90%;
    padding: 4% 5%;
    margin: 0% 5%;
    margin-bottom: 1%;
  }
  .container .list .choose-items .icon {
    width: 13%;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .container .list .choose-items .name {
    width: 77%;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .container .list .choose-items .name .inputtext {
    width: 100%;
    float: left;
    display: inline-block;
    border: 0px;
    font-size: 1.1em;
    line-height: 1.5em;
    background: transparent;
    margin-top: 1%;
  }
  .container .list .choose-items .control {
    width: 10%;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .container .starter {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    margin-top: 45%;
  }
  .container .starter p {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 1.4em;
    color: #666666;
    font-family: "maledpan", sans-serif;
  }
  .container .starter a {
    display: inline-block;
    font-size: 1.2em;
    font-family: "maledpan", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 3% 4%;
    border-radius: 5px;
    margin-top: 5%;
    background: #28a646;
    line-height: 1em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .container .starter a:hover {
    cursor: pointer;
    background: #24953f;
  }
  .container .article {
    width: 90%;
    margin: 5%;
  }
  .container .article .category {
    font-size: 0.8em;
  }
  .container .article h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 2%;
  }
  .container .article p {
    font-size: 0.8em;
    margin-bottom: 3%;
  }
  .container .article .text {
    font-size: 1em;
    margin-bottom: 5%;
  }
  .container .article .download {
    width: 90%;
    padding: 5%;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
  .container .article .download .btn {
    width: 100%;
    padding: 4% 5%;
    margin-right: 0%;
    margin-top: 3%;
  }
  .container .article .download .btn .d {
    width: 75%;
    float: left;
    display: inline-block;
  }
  .container .article .download .btn .d .caption {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 3%;
    font-family: "maledpan", sans-serif;
  }
  .container .article .download .btn .d .size {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 0.75em;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .container .article .download .btn i {
    width: 25%;
    float: right;
    display: inline-block;
    font-size: 2.2em;
    text-align: right;
  }
  .logout {
    width: 90%;
    margin: 5%;
    margin-top: 30%;
  }
  .logout h2 {
    font-size: 2em;
    margin-bottom: 2%;
  }
  .logout p {
    font-size: 1.1em;
  }
  .logout textarea {
    width: 92%;
    float: left;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 5%;
    padding: 4%;
  }
  .logout a {
    margin-top: 15%;
    padding: 4% 5%;
    font-size: 1.1em;
  }
  .logout button {
    margin-top: 10%;
    float: right;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    padding: 3% 5%;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: "maledpan", sans-serif;
    background: #28a646;
    color: #FFFFFF;
    line-height: 1em;
    border: 0px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .logout button i {
    margin-left: 7px;
  }
  .logout button:hover {
    cursor: pointer;
    background: #24953f;
  }
  .form {
    width: 90%;
    margin: 3% 5%;
  }
  .form .form-items {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 2%;
    box-sizing: border-box;
  }
  .form .form-items.middle {
    margin-top: 18%;
  }
  .form .form-items.hidden {
    display: none;
  }
  .form .form-items.control {
    border-top: 1px dotted #e8e8e9;
    padding: 5% 0%;
  }
  .form .form-items.delete-box {
    padding: 5% 0%;
    margin-top: 15%;
    border-radius: 5px;
    font-family: "maledpan", sans-serif;
  }
  .form .form-items.delete-box .msg {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 5%;
    color: #050505;
  }
  .form .form-items label {
    width: 98%;
    margin-left: 2%;
    font-size: 1.2em;
    margin-bottom: 2%;
  }
  .form .form-items .inputtext,
  .form .form-items textarea {
    padding: 5%;
    margin-bottom: 5%;
    line-height: 1.5em;
  }
  .form .form-items .selection {
    margin-bottom: 5%;
  }
  .form .form-items .selection .items {
    padding: 3% 0%;
    margin-bottom: 2%;
  }
  .form .form-items .selection .items i {
    width: 20%;
    float: left;
    display: inline-block;
    font-size: 2.4em;
    text-align: center;
    margin-top: 1.5%;
  }
  .form .form-items .selection .items .caption {
    width: 80%;
  }
  .form .form-items .selection .items .caption .t {
    font-size: 1.2em;
  }
  .form .form-items .selection .items .caption .c {
    font-size: 0.75em;
  }
  .form .form-items .select {
    margin-bottom: 5%;
  }
  .form .form-items .select:after {
    top: 40%;
    right: 5%;
  }
  .form .form-items .select select {
    width: 100%;
    padding: 5%;
  }
  .form .form-items .file-preview {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 10% 0%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px dashed #BBBBBB;
    color: #333333;
  }
  .form .form-items .file-preview i {
    display: block;
    font-size: 3em;
    margin-bottom: 2%;
    color: #DDDDDD;
  }
  .form .form-items .file-preview p {
    display: block;
    font-size: 1.5em;
    font-family: "maledpan", sans-serif;
  }
  .form .form-items .file-preview .info {
    font-size: 0.9em;
    color: #999999;
  }
  .form .form-items .file-preview:hover {
    cursor: pointer;
    color: #666666;
    background: #EFEFEF;
  }
  .form .form-items .file-preview:hover p {
    text-decoration: underline;
  }
  .form .form-items a.btn {
    padding: 3% 4%;
    float: right;
    display: inline-block;
    font-size: 1.2em;
    border: 0px;
    border-radius: 5px;
    line-height: 1em;
    color: #999999;
    font-family: "maledpan", sans-serif;
    text-decoration: none;
    text-align: center;
  }
  .form .form-items a.btn:hover {
    text-decoration: underline;
  }
  .form .form-items a.btn:active {
    background: #e8e8e9;
  }
  .form .form-items button {
    width: 100%;
    padding: 5%;
    font-size: 1.2em;
    letter-spacing: 1px;
  }
  .login .welcome {
    width: 90%;
    margin: 5%;
  }
  .login .welcome img {
    width: 24%;
    margin: 0% 38%;
    margin-bottom: 3%;
  }
  .login .welcome h1 a {
    font-size: 1.5em;
    margin-bottom: 1%;
  }
  .login .welcome p {
    font-size: 0.75em;
    margin-bottom: 0%;
  }
  .login .welcome a.btn-back {
    display: none;
  }
  .login .content {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
  }
  .login .content .inputtext {
    padding: 5%;
    font-size: 1em;
    margin-bottom: 3%;
  }
  .login .content .btn {
    padding: 5% 0%;
    font-size: 1.2em;
  }
  .login .content .line {
    padding: 2.5% 0%;
    font-size: 1em;
  }
  .login .content p {
    margin-top: 5%;
    font-size: 1.1em;
  }
  .dialog {
    width: 90%;
    margin: 5%;
  }
  .dialog .head {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 1.4em;
    color: #999999;
  }
  .dialog .head .text {
    padding: 3.5% 5%;
    float: left;
    display: inline-block;
  }
  .dialog .head .text:hover {
    cursor: default;
  }
  .dialog .head .btn {
    padding: 3.5% 5%;
    float: right;
    display: inline-block;
    color: #BBBBBB;
  }
  .dialog .head .btn:hover {
    cursor: pointer;
  }
  .dialog img {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .dialog .content {
    width: 90%;
    padding: 5%;
    float: left;
    display: inline-block;
  }
  .dialog .content label {
    width: 99%;
    margin-left: 1%;
    float: left;
    display: inline-block;
    margin-bottom: 2%;
    color: #050505;
    font-size: 1.1em;
  }
  .dialog .content .inputtext {
    width: 90%;
    padding: 4% 5%;
    float: left;
    display: inline-block;
    border: 0px;
    margin: 0px;
    font-size: 1.1em;
    background: #eeeeee;
    border-radius: 5px;
    color: #333333;
  }
  .dialog .content .inputtext:hover {
    cursor: pointer;
  }
  .dialog .content .inputtext:focus {
    color: #050505;
  }
  .dialog .control {
    width: 100%;
    float: left;
    display: inline-block;
    border-top: 1px solid #e8e8e9;
  }
  .dialog .control .btn {
    float: left;
    display: inline-block;
    font-size: 1.2em;
    font-family: "maledpan", sans-serif;
    line-height: 1em;
    padding: 5%;
    border: 0px;
    margin: 0px;
    background: transparent;
    color: #999999;
    text-decoration: none;
  }
  .dialog .control .btn i {
    margin-right: 10px;
  }
  .dialog .control .btn:hover {
    cursor: pointer;
  }
  .dialog .control .btn:active {
    background: #e8e8e9;
  }
  .dialog .control .btn.delete {
    color: #F44336;
  }
  .dialog .control .btn.save {
    float: right;
    color: #28a646;
  }
  .dialog .control .btn.save:hover {
    color: #24953f;
  }
  .dialog .control .btn.fullsize {
    width: 90%;
    text-align: center;
    background: #28a646;
    color: #FFFFFF;
  }
  .dialog .control .btn.fullsize:hover {
    background: #24953f;
  }
  #progressbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    float: left;
    display: inline-block;
    z-index: 999;
    background: #3bed8d;
    background: -webkit-linear-gradient(to right, #3bed8d, #38acc5);
    background: linear-gradient(to right, #3bed8d, #38acc5);
  }
}
