@import "reset";
@import "config";

.header{
	width: 70%;
	height: 50px;
	padding: 0px 15%;
	float: left;
	display: inline-block;
	z-index: 50;
	.transitionAnimation(0.2s);

	&.fixed{ position: fixed; top: 0; left: 0; background: transparent; }

	&.shadow{
		background: rgba(0,77,64,0.95);
		.title{ color: #1abc9c; }
	}

	&.light{
		a.logo .detail .name{ color: #050505; }
		a.logo .detail .desc{ color: #999999; }
		.btn{ color: #666666; &:active{ background: @border_color; } }
	}

	a.logo{
		width: 28%;
		float: left;
		display: inline-block;
		padding: 10px 1.5%;
		height: 30px;
		color: #FFFFFF;
		text-decoration: none;
		line-height: 1em;
		font-size: 1em;

		img{
			float: left;
			display: inline-block;
			height: 30px;
			margin-right: 10px;
			margin-top: 0px;
		}

		.detail{
			float: left;
			display: inline-block;

			.name{ font-family: @topic_font; }
			.desc{
				font-size: 0.5em;
				color: #1abc9c;
			}
		}
	}

	.btn{
		float: right;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 1em;
		line-height: 1em;
		position: relative;
		border-radius: 5px;
		font-family: @topic_font;
		position: relative;

		i{
			float: left;
			display: inline-block;
			font-size: 1.2em;
			margin-right: 7px;
			margin-top: -1px;
		}

		&:hover{ cursor: pointer; }
		&:active{ background: #327066; }

		&.btn-back{ float: left; }
		&.btn-cancel{
			color: #F44336;
			&:active{ background: #F44336; color: #FFFFFF; }
		}

		&.btn-login{
			i{
				float: right;
				margin-right: 0px;
				margin-left: 7px;
			}
		}

		.more-menu{
			position: absolute;
			width: 200px;
			top: 105%;
			right: 5%;
			padding: 10px 0%;
			background: #FFFFFF;
			border-radius: 5px;
			display: none;
			z-index: 999;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.3);

			&.open{ display: block; }

			.arrow-up{
				position: absolute;
				bottom: 100%;
				right: 10%;
				border: 8px solid transparent;
				border-bottom-color: #FFFFFF;
			}

			.caption{
				width: 80%;
				padding: 7% 10%;
				padding-bottom: 2%;
				float: left;
				display: inline-block;
				font-size: 0.75em;
				color: @primary_color;

				&:hover{ cursor: default; }
			}

			a{
				width: 80%;
				padding: 7% 10%;
				float: left;
				display: inline-block;
				text-decoration: none;
				color: #050505;
				border-bottom: 1px solid #FAFAFA;

				i{
					float: left;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 15px;
					margin-top: -2px;
				}

				&.btn-logout{ color: @alertcolor; }

				&:last-child{ border-bottom: 0px; }
				&:hover{ background: @bg_gray; }
			}
		}
	}

	.title{
		float: left;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #BBBBBB;
		font-family: @topic_font;
		font-size: 1em;
		line-height: 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 30%;

		&:hover{ cursor: default; }
	}

	.btn-profile{
		float: right;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 1em;
		line-height: 1em;
		position: relative;
		font-family: @topic_font;

		&:hover{ cursor: pointer; }

		.notif{
			position: absolute;
			top: 0px;
			left: 0px;
			float: left;
			display: inline-block;
			background: #F44336;
			color: #FFFFFF;
			font-size: 0.7em;
			line-height: 1em;
			padding: 2px 3px;
			border-radius: 3px;
		}

		img{
			float: left;
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 10px;
			margin-top: -7px;
			border-radius: 50%;
		}

		.icon{ margin-left: 5px; }

		.more-menu{
			position: absolute;
			width: 200px;
			top: 105%;
			right: 15%;
			padding: 10px 0%;
			background: #FFFFFF;
			border-radius: 5px;
			display: none;
			z-index: 999;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.3);

			&.open{ display: block; }

			.arrow-up{
				position: absolute;
				bottom: 100%;
				right: 20%;
				border: 8px solid transparent;
				border-bottom-color: #FFFFFF;
			}

			.caption{
				width: 80%;
				padding: 7% 10%;
				padding-bottom: 2%;
				float: left;
				display: inline-block;
				font-size: 0.75em;
				color: @primary_color;

				&:hover{ cursor: default; }
			}

			a{
				width: 80%;
				padding: 7% 10%;
				float: left;
				display: inline-block;
				text-decoration: none;
				color: #050505;
				border-bottom: 1px solid #FAFAFA;

				i{
					float: left;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 15px;
					margin-top: -2px;
				}

				&.btn-logout{ color: @alertcolor; }

				&:last-child{ border-bottom: 0px; }
				&:hover{ background: @bg_gray; }
			}
		}
	}
}

.searchform{
	width: 40%;
	margin: 0% 30%;
	float: left;
	display: inline-block;
	position: relative;
	margin-top: 50px;

	.icon{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.4em;
		padding: 2% 4%;
		color: #666666;
	}

	.inputtext{
		width: 80%;
		padding: 2% 10%;
		float: left;
		display: inline-block;
		font-size: 1.4em;
		line-height: 1.5em;
		border-radius: 5px;
		background: @border_color;
		color: #333333;
		border: 0;

		&:hover{ cursor: pointer; }
		&:focus{
			color: #050505;
		}
	}

	.tip{
		position: absolute;
		bottom: 10px;
		right: 10px;
		float: left;
		display: inline-block;
		font-size: 0.7em;
		color: #999999;
	}
}
.cover{
	width: 100%
	float: left;
	display: inline-block;
	height: 440px;
	overflow: hidden;
	position: relative;

	.filter{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(0,77,64,0.9) 30%, rgba(0,77,64,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(0,77,64,0.9) 30%,rgba(0,77,64,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,77,64,0.9) 30%,rgba(0,77,64,0.65) 100%);
	}

	.welcome{
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		margin: 0 30%;
		padding-top: 8%;
		float: left;
		display: inline-block;
		font-family: @topic_font;
		text-align: center;

		h1{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 3em;
			color: #FFFFFF;
			text-shadow: 0px 1px 15px rgba(0,0,0,0.3);
		}
		p{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1.3em;
			color: #FFFFFF;
			margin-bottom: 10%;
			letter-spacing: 1px;
		}

		a{
			text-decoration: none;
			font-size: 1.4em;
			border-radius: 5px;
			background: #FFFFFF;
			color: @primary_color;
			padding: 5px 25px;
			padding-bottom: 10px;
			margin: 0px 10px;
			line-height: 1em;
			box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

			i{
				margin-left: 15px;
				display: inline-block;
			}
		}
	}

	img{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: -240px;
	}
}

.container{
	width: 40%;
	margin: 10% 30%;
	margin-top: 50px;
	float: left;
	display: inline-block;

	&.nomargin{ margin-top: 0px; }

	.topic{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: 1.1em;
		color: #999999;
		font-family: @topic_font;
		line-height: 1em;
		margin-top: 5%;
		margin-bottom: 2%;

		&.center{
			text-align: left;
			margin-bottom: 5%;
			font-size: 1.4em;
			color: #333333;
		}

		span{
			display: block;
			font-size: 0.7em;
			margin-top: 5px;
			color: #999999;
		}
	}

	.list{
		width: 100%;
		float: left;
		display: inline-block;

		.file-items{
			width: 100%;
			float: left;
			display: inline-block;
			box-sizing: border-box;

			// &:last-child .detail{ border-bottom: 0px; }

			a.icontype{
				width: 9%;
				padding: 3% 0%;
				float: left;
				display: inline-block;
				font-size: 2em;
				line-height: 1.5em;
				color: #BBBBBB;
			}

			.detail{
				width: 91%;
				padding: 3% 0%;
				float: left;
				display: inline-block;
				border-bottom: 1px solid #DDDDDD;

				.name a{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 1.5em;
					line-height: 1.3em;
					color: #050505;
					font-family: @topic_font;
					text-decoration: none;

					&:hover{ text-decoration: underline; }
				}
				p{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.75em;
					line-height: 1.5em;
					color: #999999;

					a{
						text-decoration: none;
						color: #999999;

						&:hover{ text-decoration: underline; }
					}
				}
			}
		}

		.member-items{
			width: 100%;
			float: left;
			display: inline-block;

			&:last-child .detail{ border-bottom: 0px; }

			.avatar{
				width: 7%;
				padding: 3% 0%;
				margin-right: 2%;
				float: left;
				display: inline-block;
				margin-top: 1%;

				img{
					width: 100%;
					float: left;
					display: inline-block;
					border-radius: 50%;
				}
			}

			.detail{
				width: 91%;
				padding: 3% 0%;
				float: left;
				display: inline-block;
				border-bottom: 1px solid #EEEEEE;

				.name{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 1.5em;
					line-height: 1.3em;
					color: #050505;
					font-family: @topic_font;

					a{
						color: #050505;
						text-decoration: none;

						&:hover{ text-decoration: underline; }
					}

					span{
						float: left;
						display: inline-block;

						&.tag{
							background: @primary_color;
							font-size: 0.45em;
							padding: 3px 5px;
							border-radius: 3px;
							line-height: 1.1em;
							margin-left: 5px;
							margin-top: 10px;
							color: #FFFFFF;
						}

						&.lock{ background: #AAAAAA; }
					}
				}
				.desc{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.75em;
					line-height: 1.5em;
					color: #666666;

					span{

						i{
							margin-right: 3px;
							font-size: 0.9em;
						}

						&.active{
							background: @green_color;
							color: #FFFFFF;
						}
						&.reject{}
						&.lock{}
					}
				}

				.control{
					width: 100%;
					float: left;
					display: inline-block;
					margin-top: 2%;

					.btnop{
						padding: 2% 3%;
						margin-right: 1%;
						float: right;
						display: inline-block;
						font-family: @topic_font;
						border: 0px;
						font-size: 1em;
						background: transparent;
						border-radius: 5px;
						color: #999999;
						border: 1px solid #DDDDDD;
						line-height: 1em;
						.transitionAnimation(0.2s);

						&:hover{
							cursor: pointer;
							color: #333333;
							border: 1px solid #AAAAAA;
						}
						i{ margin-left: 7px; }

						&.btn-approve{
							background: @green_color_dark;
							color: #FFFFFF;
						}
					}
				}
			}
		}

		.empty{
			width: 100%;
			margin-top: 40%;
			float: left;
			display: inline-block;
			text-align: center;
			font-family: @topic_font;
			font-size: 1.1em;
			color: #666666;
		}

		.choose-items{
			width: 100%;
			padding: 2% 3%;
			float: left;
			display: inline-block;
			margin-bottom: 2%;
			border-radius: 5px;
			box-sizing: border-box;
			background: @bg_gray;

			&:hover{ background: @border_color; }

			.icon{
				width: 6%;
				float: left;
				display: inline-block;
				font-size: 1.2em;
				line-height: 2.2em;
				color: #666666;
			}

			.name{
				width: 86%;
				float: left;
				display: inline-block;
				font-size: 1.5em;
				line-height: 1.5em;
				font-family: @topic_font;
				color: #050505;
				border: 0px;
				margin: 0px;
				padding: 0px;
				background: transparent;

				.inputtext{
					width: 100%;
					float: left;
					display: inline-block;
					border: 0px;
					font-size: 1.1em;
					line-height: 1.5em;
					background: transparent;
					margin-top: 1%;
				}
			}

			.control{
				width: 8%;
				float: right;
				display: inline-block;
				font-size: 1.7em;
				line-height: 1.3em;
				color: #BBBBBB;
				text-align: right;
				cursor: pointer;

				i.fa-plus-circle{ color: @green_color; }
			}
		}
	}

	.starter{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 45%;

		p{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1.4em;
			color: @fontcolor_normal;
			font-family: @topic_font;
		}

		a{
			display: inline-block;
			font-size: 1.2em;
			font-family: @topic_font;
			color: #FFFFFF;
			text-decoration: none;
			padding: 3% 4%;
			border-radius: 5px;
			margin-top: 5%;
			background: @green_color;
			line-height: 1em;
			box-shadow: 1px 2px 5px rgba(0,0,0,0.2);

			&:hover{
				cursor: pointer;
				background: @green_color_dark;
			}
		}
	}

	.article{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 25%;
		background: #FFFFFF;

		.category{
			float: left;
			display: inline-block;
			color: #999999;
			text-decoration: none;

			i{ margin-left: 7px; }

			&:hover{
				text-decoration: underline;
				color: #050505;
			}
		}

		h1{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 3em;
			line-height: 1.2em;
			margin-bottom: 2%;
			color: #050505;
			font-weight: normal;
			font-family: @topic_font;
		}

		p{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 0.9em;
			color: #666666;
			margin-bottom: 3%;

			a{
				text-decoration: none;
				color: #333333;
			}

			i{ margin-right: 5px; }

			a:hover{ text-decoration: underline; }
		}

		.text{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1.1em;
			margin-bottom: 5%;
			color: @fontcolor_normal;
		}

		.download{
			width: 100%;
			float: left;
			display: inline-block;
			padding-top: 5%;

			.btn{
				width: 40%;
				padding: 3% 4%;
				margin-right: 2%;
				float: right;
				display: inline-block;
				color: #FFFFFF;
				text-decoration: none;
				font-size: 1em;
				line-height: 1em;
				border-radius: 5px;
				box-sizing: border-box;

				&.btn-download{
					background: @green_color;
					box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
					&:hover{ background: @green_color_dark; }
				}
				&.btn-qrcode{
					background: @border_color;
					color: #333333;
					&:hover{ color: #333333; }
				}

				&:hover{ cursor: pointer; }

				.d{
					width: 75%;
					float: left;
					display: inline-block;

					.caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.2em;
						margin-bottom: 3%;
						font-family: @topic_font;
					}
					.size{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.75em;
						margin-bottom: 0;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
				i{
					width: 25%;
					float: right;
					display: inline-block;
					font-size: 2.2em;
					text-align: right;
				}
			}
		}
	}
}

.logout{
	width: 30%;
	margin: 3% 35%;
	float: left;
	display: inline-block;
	margin-top: 14%;

	h2{
		font-size: 2.8em;
		font-weight: normal;
		color: #050505;
		font-family: @topic_font;
		margin-bottom: 2%;
	}

	p{
		width: 100%;
		float: left;
		display: inline-block;
		font-family: @topic_font;
		font-size: 1.2em;
		color: #333333;

		strong{ color: #050505; }
	}

	textarea{
		width: 92%;
		float: left;
		display: inline-block;
		font-size: 1.1em;
		line-height: 1.5em;
		margin-top: 5%;
		padding: 4%;
		border-radius: 5px;
		color: #333333;
		background: @border_color;
		border: 0;
		resize: none;

		&:hover{ cursor: pointer; }
		&:focus{ color: #050505; }
	}

	a{
		margin-top: 10%;
		float: left;
		display: inline-block;
		text-decoration: none;
		color: #666666;
		padding: 2.5% 3%;
		border-radius: 5px;
		font-size: 1.1em;
		font-family: @topic_font;
		line-height: 1em;
		border: 1px solid @border_color;

		&:hover{ cursor: pointer; }
		&:active{ background: @border_color; }

		i{ margin-right: 10px; }

		&.right{
			float: right;
			color: #FFFFFF;
			background: @green_color;
			border: 1px solid @green_color;
			box-shadow: 1px 2px 5px rgba(0,0,0,0.2);

			&:hover{ background: @green_color_dark; }

			i{ margin: 0px; margin-left: 10px; }
		}
	}

	button{
		margin-top: 10%;
		float: right;
		display: inline-block;
		text-decoration: none;
		color: #333333;
		padding: 3% 5%;
		border-radius: 5px;
		font-size: 1.1em;
		font-family: @topic_font;
		background: @green_color;
		color: #FFFFFF;
		line-height: 1em;
		border: 0px;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.2);

		i{ margin-left: 7px; }

		&:hover{ cursor: pointer; background: @green_color_dark; }
		// &:active{ background: @border_color; }
	}
}

.form{
	width: 40%;
	margin: 3% 30%;
	float: left;
	display: inline-block;

	.form-items{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 2%;
		box-sizing: border-box;

		&.middle{ margin-top: 18%; }
		&.hidden{ display: none; }
		&.control{
			border-top: 1px dotted @border_color;
			padding: 5% 0%;
		}
		&.delete-box{
			padding: 5% 0%;
			margin-top: 15%;
			border-radius: 5px;
			font-family: @topic_font;

			.msg{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 1.4em;
				margin-bottom: 5%;
				color: #050505;
			}
		}

		label{
			width: 99%;
			margin-left: 1%;
			float: left;
			display: inline-block;
			font-size: 1.2em;
			color: #333333;
			margin-bottom: 2%;
			font-family: @topic_font;

			&:hover{
				cursor: pointer;
				color: #050505;
			}
		}

		.inputfile{ display: none; }
		.inputtext, textarea{
			width: 100%;
			float: left;
			display: inline-block;
			margin: 0;
			padding: 2.5% 3%;
			font-size: 1em;
			margin-bottom: 4%;
			line-height: 1.5em;
			border-radius: 5px;
			resize: none;
			box-sizing: border-box;
			color: #333333;
			background: @border_color;
			border: 0;

			&:hover{ cursor: pointer; }
			&:focus{
				color: #050505;
				background: @border_color_focus;
			}
		}

		.selection{
			width: 100%;
			float: left;
			display: inline-block;
			margin-bottom: 5%;

			.items{
				width: 100%;
				padding: 2.5% 0%;
				float: left;
				display: inline-block;
				border-radius: 5px;
				box-sizing: border-box;
				color: @fontcolor_normal;
				border: 2px solid @border_color;
				margin-bottom: 2%;

				i{
					width: 15%;
					float: left;
					display: inline-block;
					font-size: 2.4em;
					text-align: center;
					margin-top: 1.5%;
				}

				.caption{
					width: 85%;
					float: left;
					display: inline-block;

					.t{
						font-size: 1.4em;
						font-family: @topic_font;
					}
					.c{
						font-size: 0.9em;
					}
				}
				&:nth-child(3n+0){ margin-right: 0%; }

				&:hover{
					cursor: pointer;
					background: #FAFAFA;
				}

				&.active{
					color: @green_color_dark;
					background: #E8F5E9;
					border: 2px solid @green_color_dark;
				}
			}
		}

		.select{
			width: 100%;
			float: left;
			display: inline-block;
			position: relative;
			margin-bottom: 5%;

			&:after{
				content: '';
				border: 7px solid transparent;
				border-top: 10px solid @fontcolor_normal;
			    position: absolute;
			    z-index: 2;
			    top: 38%;
			    right: 4%;
			    pointer-events: none;
			}
			select{
				width: 100%;
			    margin: 0%;
			    padding: 2.5% 3%;
			    float: left;
			    display: inline-block;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    border-radius: 5px;
				font-size: 1em;
				line-height: 1.5em;
				color: #333333;
				background: @border_color;
				border: 0;

			    &:hover{
			    	cursor: pointer;
			    	color: #050505;
			    	background: @border_color_focus;
			    }
			}
		}

		.file-preview{
			width: 100%;
			float: left;
			display: inline-block;
			text-align: center;
			padding: 10% 0%;
			margin-bottom: 5%;
			border-radius: 10px;
			box-sizing: border-box;
			border: 2px dashed #BBBBBB;
			color: #333333;

			i{
				display: block;
				font-size: 3em;
				margin-bottom: 2%;
				color: #DDDDDD;
			}
			p{
				display: block;
				font-size: 1.5em;
				font-family: @topic_font;
			}

			.info{
				font-size: 0.9em;
				color: #999999;
			}

			&:hover{
				cursor: pointer;
				color: @fontcolor_normal;
				background: #EFEFEF;

				p{ text-decoration: underline; }
			}
		}

		a.btn{
			padding: 3% 4%;
			float: right;
			display: inline-block;
			font-size: 1.2em;
			border: 0px;
			border-radius: 5px;
			line-height: 1em;
			color: #999999;
			font-family: @topic_font;
			text-decoration: none;
			text-align: center;

			&:hover{ text-decoration: underline; }
			&:active{ background: @border_color; }
		}

		button{
			padding: 3% 4%;
			margin: 0px;
			float: right;
			display: inline-block;
			font-size: 1.2em;
			border: 0px;
			border-radius: 5px;
			line-height: 1em;
			background: @green_color;
			color: #FFFFFF;
			font-family: @topic_font;
			box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
			letter-spacing: 1px;

			&:hover{
				cursor: pointer;
				background: @green_color_dark;
			}
			
			i{ margin-left: 10px; }

			&.btn-delete{ background: #C62828; }
			&.loading{
				background: #EEEEEE;
				color: #999999;
				box-shadow: none;
			}
		}
	}
}

.login{
	width: 100%;
	float: left;
	display: inline-block;

	.welcome{
		width: 24%;
		float: left;
		display: inline-block;
		margin-left: 21%;
		margin-right: 5%;
		margin-top: 15%;
		text-align: center;

		img{
			width: 30%;
			margin: 0% 35%;
			float: left;
			display: inline-block;
			margin-bottom: 10%;
		}

		h1 a{
			width: 100%;
			float: left;
			display: inline-block;
			font-family: @topic_font;
			font-size: 1.7em;
			margin-bottom: 3%;
			color: #050505;
			line-height: 1.2em;
			text-decoration: none;
		}

		p{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 0.9em;
			color: #333333;
			margin-bottom: 10%;
		}

		a.btn-back{
			display: inline-block;
			color: #333333;
			font-size: 1.1em;
			font-family: @topic_font;
			text-decoration: none;
			padding: 10px 15px;
			border-radius: 5px;
			line-height: 1em;
			border: 1px solid @border_color;

			i{ margin-right: 10px; }

			&:hover{ color: #050505; }
			&:active{ background: @border_color; }
		}
	}

	.content{
		width: 23%;
		float: right;
		display: inline-block;
		margin-right: 22%;
		margin-left: 5%;
		margin-top: 12%;

		.nav{
			width: 100%;
			float: left;
			display: inline-block;
			margin-bottom: 10%;

			a{
				width: 50%;
				padding: 4% 0%;
				float: left;
				display: inline-block;
				text-decoration: none;
				text-align: center;
				font-family: @topic_font;
				font-size: 1.1em;
				border-bottom: 1px solid @border_color;
				color: #666666;

				&.active{
					color: #050505;
					border-bottom: 1px solid #050505;
					&:hover{ color: #050505; }
				}

				&:hover{ color: #333333; }

				i{ margin-right: 7px; }
			}
		}

		.inputtext{
			width: 100%;
			float: left;
			display: inline-block;
			margin: 0;
			padding: 4% 5%;
			font-size: 1em;
			margin-bottom: 5%;
			line-height: 1.5em;
			border-radius: 5px;
			box-sizing: border-box;
			outline: none;
			color: #333333;
			background: @border_color;
			border: 0;

			&:hover{ cursor: pointer; }
			&:focus{
				color: #050505;
				background: @border_color_focus;
			}
		}

		.btn{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: inline-block;
			color: #FFFFFF;
			font-size: 1.2em;
			border: 0px;
			line-height: 1em;
			border-radius: 5px;
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;
			font-family: @topic_font;
			background: @green_color;
			box-shadow: 1px 2px 5px rgba(0,0,0,0.2);

			&:hover{ cursor: pointer; }

			&.loading{
				box-shadow: none;
				color: #666666;
				background: transparent;
			}
		}

		.btn-facebook{
			background: #3b5998;
			i{ margin-right: 15px; }
			&:hover{ background: #355088; }
		}

		.btn-submit{
			margin-top: 5%;
			i{ margin-left: 15px; }

			&:hover{ background: @green_color_dark; }
		}

		.btn-register{
			background: #E65100;
			i{ margin-left: 15px; }
		}

		.line{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 1em;
			color: @fontcolor_normal;
			font-family: @topic_font;
		}
	}
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 99;
	visibility: hidden;
	opacity: 0;

	.transitionAnimation(0.2s);

	&.open{
		visibility: visible;
		opacity: 1;
	}
}

.dialog{
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	margin: 0% 35%;
	margin-top: 3%;
	float: left;
	display: inline-block;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	z-index: 120;
	opacity: 0;
	visibility: hidden;
	font-family: @topic_font;
	.transitionAnimation(0.2s);

	&.open{
		opacity: 1;
		visibility: visible;
	}

	.head{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: 1.4em;
		color: #999999;

		.text{
			padding: 3.5% 5%;
			float: left;
			display: inline-block;

			&:hover{ cursor: default; }
		}
		.btn{
			padding: 3.5% 5%;
			float: right;
			display: inline-block;
			color: #BBBBBB;

			&:hover{ cursor: pointer; }
		}
	}
	img{
		width: 100%;
		float: left;
		display: inline-block;
	}

	.content{
		width: 90%;
		padding: 5%;
		float: left;
		display: inline-block;

		label{
			width: 99%;
			margin-left: 1%;
			float: left;
			display: inline-block;
			margin-bottom: 2%;
			color: #050505;
			font-size: 1.1em;
		}

		.inputtext{
			width: 90%;
			padding: 4% 5%;
			float: left;
			display: inline-block;
			border: 0px;
			margin: 0px;
			font-size: 1.1em;
			background: @bg_gray;
			border-radius: 5px;
			color: #333333;

			&:hover{ cursor: pointer; }
			&:focus{ color: #050505; }
		}
	}

	.control{
		width: 100%;
		float: left;
		display: inline-block;
		border-top: 1px solid @border_color;

		.btn{
			float: left;
			display: inline-block;
			font-size: 1.2em;
			font-family: @topic_font;
			line-height: 1em;
			padding: 5%;
			border: 0px;
			margin: 0px;
			background: transparent;
			color: #999999;
			text-decoration: none;

			i{ margin-right: 10px; }
			&:hover{ cursor: pointer; }
			&:active{ background: @border_color; }

			&.delete{ color: #F44336; }
			&.save{
				float: right;
				color: @green_color;
				&:hover{ color: @green_color_dark; }
			}
			&.fullsize{
				width: 90%;
				text-align: center;
				background: @green_color;
				color: #FFFFFF;

				&:hover{ background: @green_color_dark; }
			}
		}
	}
}

#progressbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	height: 5px;
	float: left;
	display: inline-block;
	z-index: 999;
	.bgGradient(#3BED8D,#38ACC5);
}

.style1 i.fa-circle{ color: #3F51B5 !important;}
.style2 i.fa-circle{ color: #E91E63 !important;}
.style3 i.fa-circle{ color: #673AB7 !important;}
.style4 i.fa-circle{ color: #9C27B0 !important;}
.style5 i.fa-circle{ color: #2196F3 !important;}
.style6 i.fa-circle{ color: #e67e22 !important;}
.style7 i.fa-circle{ color: #dd855c !important;}
.style8 i.fa-circle{ color: #9ebd9e !important;}
.style9 i.fa-circle{ color: #7f8c8d !important;}

.style10 i.fa-circle{ color: #008744 !important;}
.style11 i.fa-circle{ color: #0057e7 !important;}
.style12 i.fa-circle{ color: #d62d20 !important;}
.style13 i.fa-circle{ color: #ffa700 !important;}
.style14 i.fa-circle{ color: #fb5858 !important;}
.style15 i.fa-circle{ color: #ff00a9 !important;}
.style16 i.fa-circle{ color: #00aba9 !important;}
.style17 i.fa-circle{ color: #9ed670 !important;}
.style18 i.fa-circle{ color: #e8d174 !important;}
.style19 i.fa-circle{ color: #4d7358 !important;}
.style20 i.fa-circle{ color: #745151 !important;}

/* Other Device and Screen */
@media only screen and (min-width:1910px) {@import "style-1920";}
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}