.header{
	a.logo{
		padding: 10px 1%;
		padding-left: 5%;
		height: 30px;
		letter-spacing: 0px;

		img{ margin-right: 10px; }

		.detail{
			.name{ letter-spacing: 1px; }
			.desc{
				width: 70%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.btn{
		padding: 16px 5%;
		letter-spacing: 0px;

		i{
			font-size: 1.3em;
			margin-right: 5px;
		}
	}

	.title{ padding: 16px 3%; }

	.btn-profile{
		padding: 16px 5%;
		letter-spacing: 0px;

		img{ margin-right: 0px; }
		.name{ display: none; }

		.more-menu{
			width: 220px;
			top: 90%;
			right: 16%;

			.arrow-up{ right: 6%; }
			a{ padding: 8% 10%; }
		}
	}
}

.search-form{
	width: 90%;
	margin: 5%;

	.icon{
		font-size: 1.2em;
		padding: 3% 5%;
	}

	.inputtext{
		width: 70%;
		padding: 3% 15%;
		font-size: 1em;
	}

	.tip{
		font-size: 0.65em;
		letter-spacing: 0px;
	}
}

.headtopic{
	width: 90%;
	padding: 5%;
	font-size: 1.2em;
	text-align: left;
}

.container{
	width: 100%;
	margin: 5% 0%;

	.menu{
		width: 94%;
		margin: 0% 3%;
		margin-bottom: 5%;

		.items{
			padding: 5% 0%;

			i{
				font-size: 1.6em;
				margin-bottom: 7px;
			}

			span{
				font-size: 1em;
			}
		}
	}

	.section{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 10%;
		
		.topic{
			width: 90%;
			margin: 0% 5%;
			font-size: 1.2em;
			margin-bottom: 0%;

			&.center{ margin-bottom: 5%; }
		}

		.list{
			&.border{
				width: 90%;
				margin: 0% 5%;
			}

			.file-items{
				width: 92%;
				padding: 4%;
				border-bottom: 1px solid #EEEEEE;

				a.icontype{
					width: 12%;
					font-size: 1.6em;
					line-height: 1.7em;
				}

				.detail{
					width: 80%;

					.name{
						font-size: 1.2em;
						line-height: 1.3em;
						margin-bottom: 1%;
					}
					p{ font-size: 0.75em; }
				}

				a.icon{
					width: 8%;
					font-size: 1.6em;
					line-height: 1.7em;
				}
			}

			a.choose-items{
				width: 90%;
				padding: 3% 5%;

				span{
					width: 92%;
					font-size: 1.4em;
				}

				i{
					width: 8%;
					font-size: 1.8em;
				}
			}
		}

		.starter{
			width: 100%;
			float: left;
			display: inline-block;
			text-align: center;
			margin-top: 20%;

			p{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 2.4em;
				color: @fontcolor_normal;
				font-family: @topic_font;
			}

			a{
				display: inline-block;
				font-size: 1.2em;
				background: @primary_color;
				color: @primary_color_light;
				text-decoration: none;
				padding: 2% 4%;
				border-radius: 5px;
				margin-top: 10%;

				i{
					margin-right: 15px;
				}
			}
		}
	}

	.article{
		width: 90%;
		padding: 0% 5%;
		margin-top: 0%;

		.info{
			margin-bottom: 3%;
			font-size: 0.8em;

			span , a{ padding: 5px 0px; }
			a{ padding: 5px 10px; }
		}

		h1{ font-size: 1.8em; }
		p{
			font-size: 0.8em;
			margin-bottom: 4%;
		}

		.text{
			font-size: 1em;
			margin-bottom: 5%;
		}

		.download{
			padding-top: 5%;

			a.btn-download{
				width: 80%;
				padding: 5% 10%;

				.d{
					width: 75%;

					.caption{
						font-size: 1.2em;
						margin-bottom: 1%;
					}
					.size{
						font-size: 0.75em;
						margin-bottom: 0;
					}
				}
				i{
					width: 25%;
					font-size: 2.2em;
				}
			}
		}
	}
}

.logout{
	width: 92%;
	margin: 4%;
	margin-top: 40%;

	h2{
		font-size: 1.8em;
		margin-bottom: 10%;
	}
}

.form{
	width: 90%;
	margin: 5%;

	.form-items{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 2%;
		box-sizing: border-box;

		&.middle{ margin-top: 22%; }
		&.hidden{ display: none; }
		&.control{
			border-top: 3px solid #EAEAEA;
			padding-top: 5%;
		}
		&.delete-box{
			.msg{ margin-bottom: 5%; }
		}

		label{
			font-size: 1em;
			margin-bottom: 2%;
		}

		.inputtext, textarea{
			padding: 4% 3%;
			font-size: 1em;
			margin-bottom: 5%;
			line-height: 1.5em;
		}

		.selection{
			.items{
				width: 32%;
				padding: 5% 0%;
				margin-right: 2%;
				font-size: 0.9em;
				letter-spacing: 0px;

				i{ font-size: 1.8em; }
			}
		}

		.select{
			&:after{ right: 5%; }
			select{ padding: 4% 3%; }
		}

		.file-preview{
			width: 100%;
			float: left;
			display: inline-block;
			text-align: center;
			padding: 15% 0%;
			margin-bottom: 5%;
			border-radius: 5px;
			box-sizing: border-box;
			border: 3px dashed #CCCCCC;
			color: #999999;

			i{ font-size: 2.2em; }
			.info{ font-size: 0.8em; }

		}

		button{
			padding: 4.5% 5%;
			font-size: 1.2em;
			
			i{ margin-left: 10px; }
		}
	}
}

.login{
	.welcome{
		width: 90%;
		margin: 5%;

		img{
			width: 26%;
			margin: 0% 37%;
			margin-bottom: 5%;
		}

		h1{
			font-size: 1.4em;
			margin-bottom: 2%;
			line-height: 1.2em;
		}

		p{
			line-height: 1.3em;
			font-size: 0.7em;
			margin-bottom: 0%;
		}

		a.btn-back{ display: none; }
	}

	.content{
		width: 90%;
		margin: 5%;
		margin-top: 0%;

		.nav{
			margin-bottom: 5%;

			a{
				padding: 4% 0%;
				font-size: 1em;
				letter-spacing: 0px;

				i{ margin-right: 10px; }
			}
		}

		.inputtext{
			padding: 4% 5%;
			font-size: 1em;
			margin-bottom: 3%;
			line-height: 1.3em;
		}

		.btn{
			font-size: 1.1em;
			line-height: 1.1em;
			letter-spacing: 0px;
		}

		.btn-submit{ margin-top: 3%; }

		.line{
			padding: 3% 0%;
			letter-spacing: 0px;
		}
	}
}

.qrcode-dialog{
	width: 92%;
	margin: 4%;

	.head{ font-size: 1em; }

	.control{
		.btn{
			padding: 5% 0%;
			font-size: 1em;
		}
	}
}