RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^category/([0-9]+)/([^_]*)$ /category.php?id=$1&title=$2 [L]
RewriteRule ^category/([0-9]+)$ /category.php?id=$1 [L]
RewriteRule ^category$ /categories.php [L]

RewriteRule ^download/([^_]*)$ /download.php?secret=$1 [L]

RewriteRule ^document/([0-9]+)$ /file.php?id=$1 [L]
RewriteRule ^document/edit/([0-9]+)$ /file-edit.php?id=$1 [L]
RewriteRule ^document/privacy/([0-9]+)$ /privacy.php?id=$1 [L]

RewriteRule ^create/category/([0-9]+)$ /create.php?category=$1 [L]
RewriteRule ^create/choose$ /choose.php [L]

RewriteRule ^profile$ /profile.php [L]
RewriteRule ^signin$ /login.php [L]
RewriteRule ^signup$ /register.php [L]
RewriteRule ^signout$ /logout.php [L]
RewriteRule ^pending$ /pending.php [L]
RewriteRule ^permission/error$ /permission.php [L]

RewriteRule ^admin/category$ /admin-category.php [L]
RewriteRule ^admin/member$ /admin-member-list.php [L]

ErrorDocument 400     /error404.php
ErrorDocument 401     /error404.php
ErrorDocument 403     /error403.php
ErrorDocument 404     /error404.php
ErrorDocument 500     /error500.php
ErrorDocument 503     /error500.php